body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
	
}

main{
	width: 80%;
	margin: auto;
}

.caixa {
	display: flex;
	width: 80%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bolder;
	font-size: 22px;
	text-decoration: none;
	transition: .3s;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

footer {
	background-color: #BBBBBB;
	text-align: center;
	padding: 40px 0;
}

.copyright {
	color: #0e0d0d;
	font-size: 1em;
	margin: 20px 0 0;
}

@media (max-width:840px) {
	.caixa{
		display: flex;
		flex-direction: column;
	}

	.link-nav{
		font-size: 1em;
	}
}